.category__section {
    padding-top: 60px;
    padding-bottom: 100px;
}

.heading__category {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading__category h5 {
    font-family: "Jost";
    color: #a26b46;
    font-size: 1.5rem;
}

.category__column {
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    padding-left: 20px !important;
}

.category__column h5 {
    font-family: "Jost";
    color: #a26b46;
}

.category__column ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.category__column ul li {
    line-height: 50px;
    font-family: "Jost";
    background: #f3f3f3;
    margin-bottom: 20px;
    padding-left: 15px;
}

.deals__column {
    padding-left: 50px !important;
}
