.header2 {
    width: 100%;
    height: 110px;
    line-height: 115px;
    /* box-shadow: 5px 5px 10px -5px #cecece; */
    background: #b09963;
}

.top__menu2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    /* background-color: #a26b46; */
    padding: 0 20px 0 20px;
}

.top__menu2 a {
    color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: "Jost";
}

.top__menu2 a:hover {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
}

.top__menu2 .logout__btn2 {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.9rem;
    font-family: "Jost";
}

.header__container2,
.nav__wrapper2 {
    height: 75px;
}

.logo2 {
    text-align: center;
    width: 15%;
    justify-content: center;
}

.navigation2 {
    width: 70%;
    text-align: center;
}

.menu2 {
    gap: 30px;
    justify-content: center;
}

.menu2 a {
    font-weight: 500;
    font-size: 0.9rem;
    transition: 0.3s;
    text-decoration: none;
    color: #fff;
    font-family: "Jost";
    text-transform: uppercase;
    cursor: pointer;
}

.menu2 a:hover {
    color: #fff;
}

.active__menu2 {
    color: #fff !important;
}

.nav__right2 {
    width: 15%;
    justify-content: center;
}

.cart__icon2 i,
.mobile__menu2 i {
    font-size: 1.3rem;
    cursor: pointer;
}

.cart__icon2 {
    position: relative;
}

.cart__icon2 a,
.cart__icon2 a:hover {
    color: #fff;
    text-decoration: none;
}

.cart__badge2 {
    position: absolute;
    top: 35px;
    right: -10px;
    background-color: #a26b46;
    color: #ffffff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile__menu2 {
    font-weight: 600;
    display: none;
}

.header__shrink2 {
    position: sticky;
    top: 0;
    left: 0;
    background: #b09963;
    z-index: 99999;
    box-shadow: 5px 5px 10px -5px #cecece;
}

@media only screen and (max-width: 992px) {
    .top__menu2 {
        display: none !important;
    }

    .navigation2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.425);
        z-index: 99;
        display: none;
    }

    .logo2 img {
        width: calc(100% - 20%);
    }

    .menu2 {
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        line-height: 20px;
    }

    .menu2 a {
        font-size: 0.9rem;
    }

    .mobile__menu2 {
        display: block;
    }

    .show__menu2 {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .top__menu2 {
        display: none !important;
    }

    .header2 {
        width: 100%;
        height: 70px;
        line-height: 50px;
    }

    .header__shrink2 {
        position: sticky;
        top: 0;
        left: 0;
        height: 70px;
        background: #b09963;
        z-index: 99999;
        box-shadow: 5px 5px 10px -5px #cecece;
    }

    .logo2 img {
        width: 5rem;
    }

    .cart__badge2 {
        position: absolute;
        top: 5px;
        right: -10px;
        background-color: #a26b46;
        color: #ffffff;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        font-size: 0.8rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile__menu2 i {
        color: #fff;
    }
}
