.package__card {
    background: #f1f1f1;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
}

.left__side {
    width: 75%;
}

.left__side h5 {
    font-family: "Jost";
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: #a26b46;
}

.left__side p {
    font-size: 0.9rem;
    font-family: "Jost";
}

.right__side {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.right__side h5 {
    font-family: "Jost";
    font-size: 1.8rem;
    font-weight: 400;
}

.package__link__view {
    font-family: "Jost";
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 20px;
    letter-spacing: 3px;
    position: relative;
    width: fit-content;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #717171;
}

.package__link__view i {
    font-size: 1.4rem;
    position: absolute;
    top: -7px;
}

@media only screen and (max-width: 768px) {
    .package__card {
        background: #f1f1f1;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
    }

    .right__side {
        width: 100%;
    }
}
