@font-face {
font-family: "Plantin";
src: local("Plantin"),
 url("./assets/fonts/Plantin.woff") format("woff");
}

@font-face {
font-family: "Proxima";
src: local("ProximaNova-Regular"),
 url("./assets/fonts/ProximaNova-Regular.woff") format("woff");
}

* {
  font-family: 'Proxima';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Plantin';
}